/* Container for the entire section */
.mission-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.about-us-content {
  grid-column: 1 / 2;
}

.about-us-image {
  width: 60%;
  object-fit: cover;
  padding-left: 75px;
}

.change-image-position {
  margin-top: -120px;
  margin-left: -70px;
  margin-right: 80px;

  /* Adjusts the overlap */
}

@media screen and (max-width: 768px) {
  .about-us-grid-container {
    grid-template-columns: 1fr;
  }

  .about-us-content {
    padding: 10px;
  }

  .about-us-image,
  .change-image-position {
    grid-column: 1 / -1;
    width: 100%;
    object-fit: cover;
  }

  .change-image-position {
    margin-top: 0;
  }
}
