.testimonials-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.testimonial-card-section {
  display: flex;
  gap: 20px; /* Space between cards */
  overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.testimonmial-card {
  border: 1px solid #ddd; /* Optional, for card border */
  padding: 10px;
  text-align: left;
  width: 60%;
}

.testimonial-image {
  width: 60%;
  height: AUTO;
}

.testimonial-paragraph {
  width: 60%;
}
